.login-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: red;
}

.login-box{
    padding: 20px;
    border: 1px solid #ccc;    
    width: 463px;
    height: 420px; 
    border-radius: 8px;
    background: #27292D; 
}

.form-group{
    width: 415px;
    height: 70px; 
}

/* .label{
    font-weight: bold;
} */

.email-input{
    position: relative;
    display: flex;
}

.form-group label{
    color: #C5C7CA;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    display: flex;
}


.forgot-password{
    color: #C5C7CA;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    display: flex;
  justify-content: flex-end;
}

.password-input{
    position: relative;
    /* display: flex; */
    
}


.login-button {
    display: block;
    width: 415px;
    height: 43px; 
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.not-register{
    margin-top:10px;
    float: left; 
}


.post-page{
    display:inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250vh;
    text-align: center;
    width: 1440;
    height: 900;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(1, 26, 7, 0.2);
}

.text-above-post-box{
    color: #7F8084;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 580px;
    text-align: left;
}

/* .post-input {
    display: flex;
    align-items: center;
    position: relative;
    height: 223px;
    width: 700px;
    top: 203px;
    left: 370px; 
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(1, 26, 7, 0.2);
  } */

.post-input{
    width: 700px;
    height: 223px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #35373B;
    background: #27292D; 
    margin-bottom: 20px;
}

.custom-input{
    width: 660px;
    height: 78px;
    flex-shrink: 0; 
    border-radius: 8px;
    background: #191920; 
}

.btn-primary{
    width: 111px;
    height: 43px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #4A96FF; 
    
}

.post{
    width: 700px;
    height: 150px;
    flex-shrink: 0; 
    border-radius: 2px;
    background: #191920; 
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.post-content{
    /* width: 551px;
    height: 75px; */
    flex-shrink: 0; 
    color: #7F8084;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    width:max-content;
}

.time-ago{
    float: left;
}

.hand-icon {
    display: flex;
    align-items: center; 
    gap: 8px; 
}
.comment-section {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.signup-page{
    width: 463px;
    height: 506px;
    flex-shrink: 0; 
    border-radius: 8px;
    background: #27292D; 
    display:flex;
    justify-content: center;
    align-items: center;
}



.email-input input{
    width: 415px;
    height: 40px;
    position: relative;
    display: flex;    
}


.username-input input{
    width: 415px;
    height: 40px;
}



.password-input label{
    color: #C5C7CA;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.password-input input{
    width: 415px;
    height: 40px;
}

.eye-icon{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
}

.signup-btn{
    width: 415px;
    height: 43px; 
    background-color:#007bff;
    float: left;
}

.login-option{
    padding: 10px;
    float: left;
}

.close-button{
    float: right;
}